{% extends "layout.html.jinja" %}

{% block title %}
Website down
{% endblock %}

{% block body %}
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="border rounded p-3 text-center">
        <img src="{{ url_for('static', filename='assets/rr.png') }}" alt="RoboRegistry" width="150px" />
        <br /> <br />
        <h2>Website unavailable</h2>
        <hr />
        <p>
            The RoboRegistry website has been temporarily suspended. <br />
            Registration, check-in, and event creation is not possible at this time.
        </p>
        <p class="text-muted">
            2023-06-23
        </p>
    </div>
</div>
{% endblock %}