{% extends "layout.html.jinja" %}

{% block title %}
About
{% endblock %}

{% block body %}
<div class="centercontainer bordered">
     <p class="headertext">About RoboRegistry</p>
     <img src="{{ url_for('static', filename='assets/favicon.ico') }}" alt="logo" width="80" /> <br />
     <p class="text-center">RoboRegistry is a web application designed to make FLL/FTC/FRC scrimmage and event
          management easier. Manually collecting data on event attendance for scrimmages can be a stressful and overly
          complex task, and it is our goal is to minimise that complexity as much as possible.</p>
     <div class="infogrid">
          <img class="imglink" title="Python 3.9" alt="Python 3.9"
               src="{{ url_for('static', filename='assets/py.png') }}" />
          <img class="imglink" title="Firebase" alt="Firebase"
               src="{{ url_for('static', filename='assets/fb.svg') }}" />
          <img class="imglink" title="Vercel" alt="Vercel"
               src="{{ url_for('static', filename='assets/ve.svg') }}" />
          <img class="imglink" title="Flask" alt="Flask"
               src="{{ url_for('static', filename='assets/fl.png') }}" />
          <img class="imglink" title="Jinja" alt="Jinja"
               src="{{ url_for('static', filename='assets/ji.png') }}" />
          <img class="imglink" title="Bootstrap 5" alt="Bootstrap 5"
               src="{{ url_for('static', filename='assets/bs.svg') }}" />
     </div>
     <br />
     <p>Developed by <a href="https://lucasbubner.me" target="_blank">Lucas Bubner</a>, 2023. View the source code <a href="https://github.com/hololb/RoboRegistry" target="_blank">here</a>.</p>
     <div class="container text-center">
          <a href="/dashboard" class="btn btn-secondary">Go to dashboard</a>
          <a href="/privacy" class="btn btn-success">Privacy Policy</a>
     </div>
</div>
{% endblock %}

{% block scripts %}
<script defer nonce="{{ csp_nonce() }}">
     const links = [
          "https://github.com/hololb/RoboRegistry",
          "https://www.python.org/",
          "https://firebase.google.com/",
          "https://vercel.com/",
          "https://flask.palletsprojects.com/en/2.3.x/",
          "https://jinja.palletsprojects.com/en/3.1.x/",
          "https://getbootstrap.com/"
     ];
     const imgs = document.querySelectorAll(".imglink");
     for (let i = 0; i < imgs.length; i++) {
          imgs[i].addEventListener("click", () => {
               window.open(links[i], "_blank");
          });
     }
</script>
{% endblock %}