{% extends "layout.html.jinja" %}

{% block title %}
About
{% endblock %}

{% block body %}
<div class="centercontainer bordered">
     <p class="headertext">About RoboRegistry</p>
     <img src="{{ url_for('static', filename='assets/favicon.ico') }}" alt="logo" width="80" /> <br />
     <p class="text-center">RoboRegistry is a web application designed to make FLL/FTC/FRC scrimmage and event
          management easier. Manually collecting data on event attendance for scrimmages can be a stressful and overly
          complex task, and it is our goal is to minimise that complexity as much as possible.</p>
     <div class="infogrid">
          <img class="imglink" title="Source code" alt="GitHub source code" src="https://github.githubassets.com/favicons/favicon.png" />
          &nbsp; || &nbsp;
          <img class="imglink" title="Python 3.9" alt="Python 3.9"
               src="https://cdn.freebiesupply.com/logos/large/2x/python-5-logo-png-transparent.png" />
          <img class="imglink" title="Firebase" alt="Firebase"
               src="https://firebase.google.com/static/downloads/brand-guidelines/SVG/logo-logomark.svg" />
          <img class="imglink" title="Vercel" alt="Vercel"
               src="https://www.svgrepo.com/show/327408/logo-vercel.svg" />
          <img class="imglink" title="Flask" alt="Flask"
               src="https://cdn.freebiesupply.com/logos/large/2x/flask-logo-png-transparent.png" />
          <img class="imglink" title="Jinja" alt="Jinja"
               src="https://quintagroup.com/cms/python/images/jinja2.png/@@images/919c2c3d-5b4e-4650-943a-b0df263f851b.png" />
          <img class="imglink" title="Bootstrap 5" alt="Bootstrap 5"
               src="https://upload.wikimedia.org/wikipedia/commons/b/b2/Bootstrap_logo.svg" />
     </div>
     <br />
     <h6>Copyright (c) 2023 Lucas Bubner under the <a target="_blank"
               href="https://raw.githubusercontent.com/hololb/RoboRegistry/prod/LICENSE">GNU GPL-3 License.
          </a></h6>
     <br />
     <a href="/dashboard" class="btn btn-secondary">Go to dashboard</a>
</div>
{% endblock %}

{% block scripts %}
<script defer nonce="{{ csp_nonce() }}">
     const links = [
          "https://github.com/hololb/RoboRegistry",
          "https://www.python.org/",
          "https://firebase.google.com/",
          "https://vercel.com/",
          "https://flask.palletsprojects.com/en/2.3.x/",
          "https://jinja.palletsprojects.com/en/3.1.x/",
          "https://getbootstrap.com/"
     ];
     const imgs = document.querySelectorAll(".imglink");
     for (let i = 0; i < imgs.length; i++) {
          imgs[i].addEventListener("click", () => {
               window.open(links[i], "_blank");
          });
     }
</script>
{% endblock %}