{% extends "layout.html.jinja" %}
{% block title %}
    {{ reason }}
{% endblock title %}
{% block body %}
    <div class="centercontainer">
        <div class="text-center">
            <h1 id="error">Error {{ code }}: {{ reason }}</h1>
            <p>Sorry, but we were unable to process your request.</p>
            <p>{{ debug }}</p>
            <a class="btn btn-secondary" href="{{ url_for('dashboard') }}">Return to dashboard</a>
        </div>
    </div>
{% endblock body %}
