{% extends "layout.html.jinja" %}

{% block title %}
{{ reason }}
{% endblock %}

{% block body %}
<div class="centercontainer text-center">
    <h1>Error {{ code }}: {{ reason }}</h1>
    <p>Sorry, but we were unable to process your request. <br />{{ debug }}</p>
    <button class="btn btn-secondary" onclick="window.history.back();">Go Back</button>
</div>
{% endblock %}