{% extends "nav_layout.html.jinja" %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<div class="maxtext dashheading"
    id="{{ 'darkmodebg' if request.cookies.get('darkmode') == 'on' else 'lightmodebg' }}">
    <p>Welcome aboard, {{ user.first_name.upper() }}.</p>
</div>
<br />
<div class="container" id="dashboardboxes">
    {% for i in range(3) %}
    <div class="row">
        {% for j in range(3) %}
        <div class="col-sm-4">
            <div class="square skellybones {{ 'loaderdark' if request.cookies.get('darkmode') == 'on' else 'loaderlight' }}"></div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.5/purify.min.js" integrity="sha512-KqUc2WMPF/gxte9xVjVE4TIt1LMUTidO3BrcItFg0Ro24I7pGNzgcXdnWdezNY+8T0/JEmdC79MuwYn+8UdOqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="{{ url_for('static', filename='internal_api.js') }}"></script>
<script src="{{ url_for('static', filename='dashboard_renderer.js') }}"></script>
{% endblock %}