{% extends "nav_layout.html.jinja" %}

{% block title %}
Dashboard
{% endblock %}

{% block body %}
<div class="maxtext dashheading">
    <p>Welcome aboard, {{ user.name.upper().partition(" ")[0] }}.</p>
</div>
{% endblock %}