{% extends "layout.html.jinja" %}

{% block title %}
Registration
{% endblock %}

{% block body %}
<div class="container position-absolute top-50 start-50 translate-middle h-75">
    <div class="bordered p-3">
        <p class="headertext text-center">Welcome to RoboRegistry!</p>
        <p class="text-center">Tell us a bit about yourself to get started.</p>
        <form action="/create_profile" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="mb-3">
                <label for="first_name" class="form-label">Your first name<span aria-hidden="true"
                        class="text-danger">*</span></label>
                <input class="form-control" id="first_name" name="first_name" placeholder="First name" type="text"
                    required />
            </div>
            <div class="mb-3">
                <label for="last_name" class="form-label">Your last name<span aria-hidden="true"
                        class="text-danger">*</span></label>
                <input class="form-control" id="last_name" name="last_name" placeholder="Last name" type="text"
                    required />
            </div>
            <div class="mb-3">
                <label for="affiliation" class="form-label">Your affiliation (school/club/team)<span aria-hidden="true"
                        class="text-danger">*</span></label>
                <input class="form-control" id="affiliation" name="affiliation"
                    placeholder="Your represented school or public entity" type="text" required />
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Preferred contact email</label>
                <input class="form-control" id="email" name="email" placeholder="{{ email }}" type="email" />
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="consent" name="consent">
                <label class="form-check-label" for="consent">Opt-in to promotional emails?</label>
            </div>
            <div class="mb-3">
                <label for="role" class="form-label">I am a<span aria-hidden="true" class="text-danger">*</span></label>
                <select class="form-select" id="role" name="role" required>
                    <option value="" disabled selected>-</option>
                    <option value="student">Student</option>
                    <option value="mentor">Mentor</option>
                    <option value="event_organiser">Event Organiser</option>
                    <option value="other">Other</option>
                </select>
            </div>
            <div class="text-center">
                <button class="btn btn-secondary" onclick="event.preventDefault(); window.location.href='/logout'">
                    Sign out
                </button>
                <button class="btn btn-primary" type="submit">Complete registration</button>
            </div>
            <br />
        </form>
    </div>
</div>
{% endblock %}