{% extends "nav_layout.html" %}

{% block title %}
Change Password
{% endblock %}

{% block body %}
<div class="centercontainer">
    <div class="bordered p-3">
        <p class="headertext">Password reset request</p>
        <p class="text">We have sent you an email to change your password through Firebase.</p>
        <p class="text">If you have not received the email, please check your spam folder, or <a href="/changepassword">send
                another.</a></p>
        <p class="text">You may be signed out after changing your password.</p>
    </div>
</div>
{% endblock %}