{% extends "layout.html.jinja" %}

{% block title %}
Forgot Password
{% endblock %}

{% block body %}
<div class="centercontainer">
    <div class="bordered p-3">
        <p class="headertext">Forgot Password</p>
        {% if error %}
        <div class="alert alert-danger">{{ error }}</div>
        {% endif %}
        {% if success %}
        <div class="alert alert-success">{{ success }}</div>
        {% endif %}
        <form method="post" action="/forgotpassword">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
            <div class="form-group">
                <label for="email">Email to reset</label><span aria-hidden="true" class="text-danger">*</span>
                <input type="email" name="email" required class="form-control" id="email" placeholder="Email">
            </div>
            <br />
            <a class="btn btn-secondary" href="/login">Back</a>
            <button type="submit" class="btn btn-primary">Reset Password</button>
        </form>
    </div>
</div>
{% endblock %}