{% extends "layout.html.jinja" %}

{% block title %}
Login
{% endblock %}

{% block body %}
<div class="centercontainer border-top border-bottom rounded">
    <div class="col-md-12 text-center">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="alert alert-warning" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
    </div>
    <div class="row">
        <div class="col-md-6 text-center d-flex justify-content-center flex-column">
            <img src="{{ url_for('static', filename='assets/rr.png') }}" id="logoimg" />
            <br />
            <div class="alert alert-warning mb-2" role="alert">
                At an event? <a href="/events/ci">Check in here</a>
            </div>
            <div class="alert alert-info mb-2" role="alert">
                Need help registering for a scrimmage? Follow <a target="_blank" href="https://scribehow.com/shared/RoboRegistry_account_creation_and_registration__PHs0o3GWQz6Rg5ERmlAodQ">this guide</a>.
            </div>
        </div>
        <div class="col-md-6">
            <form action="/login" method="post" class="text-center py-5">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <h6>Log into RoboRegistry</h6>
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
                {% endif %}
                <div class="mb-2">
                    <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email" autocomplete="username" />
                </div>
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" autocomplete="current-password" type="password" />
                </div>
                <div class="mb-3">
                    <a href="/forgotpassword">Forgot password?</a>
                </div>
                <button class="btn btn-success" type="submit">Log in</button>
                <br /> <br />
                <a href="/googleauth" id="google">Continue with Google</a>
                <p class="mt-3">
                    Don't have an account? <a href="/register">Register</a>
                </p>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Set dark mode cookie if user has dark mode preference
    if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches && !document.cookie.includes("darkmode")) {
        const date = new Date();
        date.setTime(date.getTime() + (365 * 24 * 60 * 60 * 1000));
        const oneYear = date.toUTCString();
        document.cookie = "darkmode=on;path=/;expires=" + oneYear;
        window.location.reload();
    }
</script>
{% endblock %}