{% extends "layout.html.jinja" %}

{% block title %}
Register
{% endblock %}

{% block body %}
<div class="centercontainer">
    <img src="{{ url_for('static', filename='assets/rr.png') }}" id="logoimg" />
    <form action="/register" method="post" class="text-center py-5">
        <div class="alert alert-info mb-2" role="alert">
            At an event? <a href="/ci">Check in here</a>
        </div>
        <div class="mb-2">
            <h6>You are creating a new RoboRegistry account. <br /></h6>
            Didn't mean to? <a href="/login">Login here</a>
        </div>
        {% if error %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endif %}
        <div class="mb-2">
            <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email" />
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password"
                type="password" />
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
{% endblock %}