{% extends "layout.html" %}

{% block title %}
Email Verification
{% endblock %}

{% block body %}
<div class="centercontainer">
    <div class="bordered p-3">
        <p class="headertext">Complete your registration</p>
        <p class="text">You're almost done! We have sent you an email to confirm your RoboRegistry account.</p>
        <p class="text">If you have not received the email, please check your spam folder, or <a href="/verify">send
                another.</a></p>
        <p class="text">Once you have verified, you can <a href="/">click here.</a></p>
    </div>
</div>
{% endblock %}