{% extends "layout.html.jinja" %}
{% block title %}
    Checking in at {{ event.name }}
{% endblock title %}
{% block body %}
    <div class="centercontainer">
        <div>
            <div class="text-center mb-3">
                <img src="{{ url_for('static', filename='assets/rr.png') }}"
                     height="125"
                     width="auto"
                     alt="RoboRegistry" />
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card border rounded-3 shadow-sm">
                        <div class="card-body text-center">
                            <p class="headertext">Dynamic Check In</p>
                            <h5>{{ event.name }}</h5>
                            <h6 class="text-muted mb-3">{{ event.uid }}</h6>
                            <form method="post"
                                  action="{{ url_for('events.dynamic', event_id=event.uid) }}">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <div class="form-group mb-3">
                                    <label for="item-select">Who are you checking in as?</label>
                                    <hr />
                                    <select class="form-control" id="item-select" name="entity" required>
                                        <option value="anon">Guest / Anonymous</option>
                                        <option value="" disabled selected>---</option>
                                        {% for item in registered %}<option value="{{ item }}">{{ item }}</option>{% endfor %}
                                    </select>
                                </div>
                                <div id="visit-reason" class="mb-3">
                                    <div class="form-group mb-3">
                                        <label for="visit-reason-select">I am</label>
                                        <span aria-hidden="true" class="text-danger">*</span>
                                        <select class="form-control" id="visit-reason-select" name="visit-reason">
                                            <option value="" disabled selected>-</option>
                                            <option value="noregis">a club that did not register on RoboRegistry.</option>
                                            <option value="public">a member of the General Public.</option>
                                            <option value="visitor">a Visitor.</option>
                                            <option value="manager">an Event Manager.</option>
                                            <option value="other">Other</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="name-input">Name</label>
                                        <span aria-hidden="true" class="text-danger">*</span>
                                        <input type="text" class="form-control" id="name-input" name="anon-name" />
                                    </div>
                                </div>
                                <a href="{{ url_for('events.viewevent', uid=event.uid) }}"
                                   class="btn btn-danger">Cancel</a>
                                <button type="submit" class="btn btn-success">Complete Check In</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
    <script src="{{ url_for('static', filename='checkin_man.js') }}"></script>
{% endblock scripts %}
