{% extends "nav_layout.html.jinja" %}

{% block title %}
Create Event
{% endblock %}

{% block body %}
<div class="container position-absolute top-50 start-50 translate-middle h-75">
    <form method="POST" action="/events/create">
        <div class="bordered p-3">
            <div class="row">
                <div class="col-md-6">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <p class="headertext">Create a new event</p>
                    <div class="form-group">
                        <label for="event_name">Event Name</label><span aria-hidden="true" class="text-danger">*</span>
                        <input type="text" class="form-control" id="event_name" name="event_name"
                            value="{{ old_data.name }}" maxlength="32" required>
                    </div>
                    <div class="form-group">
                        <label for="event_date">Event Date</label><span aria-hidden="true" class="text-danger">*</span>
                        <input type="date" class="form-control" id="event_date" name="event_date"
                            value="{{ old_data.date }}" required>
                    </div>
                    <div class="form-group">
                        <label for="event_start_time">Event Start Time</label><span aria-hidden="true"
                            class="text-danger">*</span>
                        <input type="time" class="form-control" id="event_start_time" name="event_start_time"
                            value="{{ old_data.start_time }}" required>
                    </div>
                    <div class="form-group">
                        <label for="event_end_time">Event End Time</label><span aria-hidden="true"
                            class="text-danger">*</span>
                        <input type="time" class="form-control" id="event_end_time" name="event_end_time"
                            value="{{ old_data.end_time }}" required>
                    </div>
                    <div class="form-group">
                        <label for="event_timezone">Timezone</label><span aria-hidden="true"
                            class="text-danger">*</span>
                        <select class="form-control" id="event_timezone" name="event_timezone" required>
                            {% for tz in timezones %}
                            <option value="{{ tz }}" {{ "selected" if tz==old_data.timezone else '' }}>{{ tz }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="event_limit">Team registration limit (blank for uncapped, only applies to FIRST
                            teams)</label>
                        <input type="number" class="form-control" id="event_limit" name="event_limit" min="1" max="999"
                            value="{{ old_data.limit if old_data.limit != -1 else '' }}">
                    </div>
                    <div class="form-group">
                        <label for="event_description">Event Description</label><span aria-hidden="true"
                            class="text-danger">*</span>
                        <textarea class="form-control" id="event_description" name="event_description" rows="3"
                            required>{{ old_data.description }}</textarea>
                    </div>
                    <br />
                    <a class="btn btn-secondary" href="/dashboard">Cancel</a>
                    <button type="submit" class="btn btn-primary">Create Event</button>
                    <br /> <br />
                </div>
                <div class="col-md-6">
                    <br />
                    {% if error %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <br />
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="display_email" name="display_email" {% if
                                not old_data.display_email %}checked{% endif %}>
                            <label class="form-check-label" for="display_email">Display your email with the event?</label>
                            <p id="noemailwarn" class="text-muted" id="disablewarn">People registering through
                                RoboRegistry will not be able to see your email address for contact.</p>
                        </div>
                        <label for="email">Display email</label>
                        <input class="form-control" id="email" name="event_email" placeholder="{{ user.email }}"
                            value="{{ old_data.email if old_data.email != 'N/A' }}" type="email" autocomplete="username" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="event_location">Event Location</label><span aria-hidden="true"
                            class="text-danger">*</span>
                        <input type="text" class="form-control" id="event_location" name="event_location" required
                            value="{{ old_data.location or '' }}">
                    </div>
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script nonce="{{ csp_nonce() }}">
    const MAPBOX_API_KEY = "{{ mapbox_api_key }}";
    const OLD_DATA_TIMEZONE = "{{ old_data.timezone }}";
</script>
<script src="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css" rel="stylesheet" />
<script src="{{ url_for('static', filename='event_creator.js') }}"></script>
{% endblock %}