{% extends "nav_layout.html.jinja" %}
{% block title %}
    Delete '{{ event.name }}'
{% endblock title %}
{% block body %}
    <div class="centercontainer">
        <div class="bordered">
            <p class="headertext">Delete '{{ event.name }}'</p>
            <p>Are you sure you want to delete this event?</p>
            <h5>All data related to this event will be destroyed.</h5>
            <h6 class="mb-4">This action can not be undone. Please export any wanted data before deleting.</h6>
            <form method="post"
                  action="{{ url_for('events.delete', event_id=event.uid) }}">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <a href="{{ url_for('events.viewall') }}" class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
{% endblock body %}
