{% extends "layout.html.jinja" %}

{% block title %}
Event Register
{% endblock %}

{% block body %}
<div class="centercontainer">
    <div class="bordered p-3 text-center">
        <h6>RoboRegistry Event '{{ event.name }}' ({{ event.uid }}) for user
            '{{ user.first_name }} {{ user.last_name }}'</h6>
        <p class="headertext">{{ status }}</p>
        <p>{{ message }}</p>
        <button id="goback" class="btn btn-primary">Go Back</button>
        <a class="btn btn-success" href="/dashboard">Return to home page</a>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script defer nonce="{{ csp_nonce() }}">
    document.getElementById("goback").onclick = () => window.history.back();
</script>
{% endblock %}