{% extends "nav_layout.html.jinja" %}

{% block title %}
{{ event.name }}
{% endblock %}

{% block body %}
<div class="maxtext dashheading">
    <p>{{ event.name }}</p>
    <h5>{{ event.uid }}</h5>
    {% if owned %}
    <h6>Event check-in code: {{ event.checkin_code }} </h6>
    {% endif %}
    {% if not registered and not owned and can_register %}
    <a href="/events/register/{{ event.uid }}" class="btn btn-success">Register</a>
    {% elif registered and can_register %}
    <a href="/events/unregister/{{ event.uid }}" class="btn btn-danger">Unregister</a>
    {% elif owned %}
    <a href="/events/manage/{{ event.uid }}" class="btn btn-primary">Manage</a>
    {% endif %}
    {% if can_register %}
    <button id="copyregis" class="btn btn-secondary">Copy
        Registration Link
    </button>
    {% if owned %}
    <button id="copyci" class="btn btn-secondary">Copy Check-In
        Link
    </button>
    {% endif %}
    {% endif %}
    <hr />
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div
                class="card sync {% if is_running %}border-success{% elif not can_register %}border-danger{% else %}border-primary{% endif %}">
                <div class="card-body">
                    <h5 class="card-title">{% if is_running %}Event is running!{% elif not can_register %}Event has
                        ended!{% else %}Time until
                        event{% endif %}</h5>
                    <p class="card-text" id="relative-event-time"></p>
                    <p id="event-time"></p>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Event Description</h5>
                    <pre class="card-text">{{ event.description }}</pre>
                </div>
            </div>
            <br />
            <br />
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Event Details</h5>
                    <p class="card-text">
                        {{ team_regis_count }}{{ ' / ' + event.limit|string if event.limit != -1 else '' }}
                        team registration(s)
                        {% if event.registered|length != team_regis_count %}
                        <br />
                        {{ event.registered|length - team_regis_count }} other registration(s)
                        {% endif %}
                    </p>
                    <p class="card-text">{{ event.date|strftime }} <br /> {{ event.start_time }}
                        to {{ event.end_time }} ({{ timezone }})</p>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Location</h5>
                    <p class="card-text">{{ event.location }}</p>
                </div>
                <div id="map"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script defer nonce="{{ csp_nonce() }}">
    const MAPBOX_API_KEY = "{{ mapbox_api_key }}";
    const EVENT_LOCATION = "{{ event.location }}";
    const EVENT_DATE = "{{ event.date }}";
    const EVENT_START_TIME = "{{ event.start_time }}";
    const EVENT_END_TIME = "{{ event.end_time }}";
    const OFFSET = "{{ offset }}";

    function copyToClipboard(url) {
        navigator.clipboard.writeText(url);
        alert(`Copied to clipboard: ${url}`);
    }

    document.getElementById('copyregis').addEventListener('click', () => {
        const url = `https://roboregistry.vercel.app/events/register/${"{{ event.uid }}"}`;
        copyToClipboard(url);
    });

    document.getElementById('copyci').addEventListener('click', () => {
        const url = `https://roboregistry.vercel.app/events/ci/${"{{ event.uid }}"}`;
        copyToClipboard(url);
    });
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/3.0.5/purify.min.js" integrity="sha512-KqUc2WMPF/gxte9xVjVE4TIt1LMUTidO3BrcItFg0Ro24I7pGNzgcXdnWdezNY+8T0/JEmdC79MuwYn+8UdOqw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
<script src="{{ url_for('static', filename='libs/humanize-duration.min.js') }}"></script>
<script src="{{ url_for('static', filename='mapbox_marker.js') }}"></script>
<script src="{{ url_for('static', filename='event_viewer.js') }}"></script>
{% endblock %}