{% extends "layout.html.jinja" %}
{% block title %}
    Checking in at {{ event.name }}
{% endblock title %}
{% block body %}
    <div class="centercontainer">
        <div>
            <div class="text-center mb-3">
                <img src="{{ url_for('static', filename='assets/rr.png') }}"
                     height="125"
                     width="auto"
                     alt="RoboRegistry" />
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="card border rounded-3 shadow-sm">
                        <div class="card-body text-center">
                            <p class="headertext">Dynamic Check In</p>
                            <p class="card-text">Please enter the event linked Check In Code in order to check in.</p>
                            <div class="container d-none d-md-block mb-3">
                                <div class="row">
                                    <div class="col-md-6">
                                        <img src="{{ url_for('static', filename='assets/qrc.png') }}"
                                             alt="QR Code Sheet"
                                             height="auto"
                                             width="100%" />
                                    </div>
                                    <div class="col-md-6">
                                        <img src="{{ url_for('static', filename='assets/web.png') }}"
                                             alt="Website"
                                             height="auto"
                                             width="100%" />
                                    </div>
                                </div>
                            </div>
                            <i>You'll find this on the RoboRegistry QR code printout if the owner has printed it, or on the owner's
                            event manager.</i>
                            <a href="{{ url_for('events.manual', event_id=event.uid) }}">Having trouble?</a>
                            <hr />
                            <form action="{{ url_for('events.checkin', event_id=event.uid) }}"
                                  method="post"
                                  class="mb-3">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                                <div class="input-group mb-3">
                                    <input type="text"
                                           class="form-control"
                                           placeholder="Check In Code"
                                           name="code"
                                           aria-label="Check In Code" />
                                    <button class="btn btn-outline-primary" type="submit" id="button-addon2">Check In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
