{% extends "nav_layout.html.jinja" %}

{% block title %}
Manage '{{ event.name }}'
{% endblock %}

{% block body %}
<div class="container">
    <br />
    <h1 class="maxtext text-center">{{ event.name|upper }}</h1>
    <hr />
    This page is a work-in-progress! <br />
    {# <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Event</h4>
                    <p class="card-text">Edit, view, and modify publicly accessible event data.</p>
                </div>
                <div class="card-footer text-center">
                    <div class="d-grid">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal"
                            data-bs-target="#fullPageModal">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Data</h4>
                    <p class="card-text">Access, export, and view your collected event data.</p>
                </div>
                <div class="card-footer text-center">
                    <div class="d-grid">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#fullPageModal2">View
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Check-in & registration</h4>
                    <p class="card-text">Host, manage, and control event check-in/registration procedures.</p>
                </div>
                <div class="card-footer text-center">
                    <div class="d-grid">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
                            data-bs-target="#fullPageModal3">Manage
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Metrics</h4>
                    <p class="card-text">box 1 info</p>
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Status</h4>
                    <p class="card-text"></p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Quick Actions</h4>
                    <div class="d-grid gap-2">
                        <button class="btn btn-outline-secondary" type="button">Button 1</button>
                        <button class="btn btn-outline-secondary" type="button">Button 2</button>
                        <button class="btn btn-outline-secondary" type="button">Button 3</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> #}
<div class="modal fade" id="fullPageModal" tabindex="-1" aria-labelledby="fullPageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fullPageModalLabel">Public Event Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                NOT CURRENTLY IMPLEMENTED <br /> <br /> RAW JSON:
                <hr />
                {{ event }}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="fullPageModal2" tabindex="-1" aria-labelledby="fullPageModalLabel2" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fullPageModalLabel2">Registered Event Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                NOT CURRENTLY IMPLEMENTED
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="fullPageModal3" tabindex="-1" aria-labelledby="fullPageModalLabel3" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fullPageModalLabel3">Manage registration and check-in</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            {# <div class="modal-body">
                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                    <div class="col">
                        <div class="card h-100">
                            <div class="card-body">
                                <div class="card-body">
                                    <h4 class="card-title text-center">Register someone manually</h4>
                                    <div class="card-footer text-center">
                                        <small class="text-muted">Enter information here to manually register someone
                                            not on RoboRegistry!</small>
                                    </div>
                                    <br />
                                    <form method="POST" action="">
                                        <div class="mb-3">
                                            <label for="name" class="form-label">Name</label><span aria-hidden="true"
                                                class="text-danger">*</span>
                                            <input type="text" class="form-control" id="name" name="name" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="email" class="form-label">Email</label><span aria-hidden="true"
                                                class="text-danger">*</span>
                                            <input type="email" class="form-control" id="email" name="email" required>
                                        </div>
                                        <div class="mb-3">
                                            <label for="phone" class="form-label">Phone</label><span aria-hidden="true"
                                                class="text-danger">*</span>
                                            <input type="tel" class="form-control" id="phone" name="phone" required>
                                        </div>
                                        <div class="d-grid">
                                            <button type="submit" class="btn btn-primary">Add manual
                                                registration</button>
                                        </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                </div> #}
                NOT CURRENTLY IMPLEMENTED
            </div>
        </div>
    </div>
    {% endblock %}