{% extends "nav_layout.html.jinja" %}

{% block title %}
Manage '{{ event.name }}'
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="maxtext text-center">{{ event.name|upper }}</h1>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Event</h4>
                    <p class="card-text">Edit, view, and modify publically accessible event data.</p>
                </div>
                <div class="card-footer text-center">
                    <div class="d-grid">
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#fullPageModal">Edit</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Data</h4>
                    <p class="card-text">Access, export, and view your collected event data.</p>
                </div>
                <div class="card-footer text-center">
                    <div class="d-grid">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#fullPageModal">View</button>
                    </div>
                </div>
            </div>
        </div>
         <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h4 class="card-title">Check-in</h4>
                    <p class="card-text">Host, manage, and control event check-in procedures.</p>
                </div>
                <div class="card-footer text-center">
                    <div class="d-grid">
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#fullPageModal">Manage</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="fullPageModal" tabindex="-1" aria-labelledby="fullPageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="fullPageModalLabel">Full Page Popup</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Add your content here -->
            </div>
        </div>
    </div>
</div>
{% endblock %}