{% extends "layout.html" %}

{% block title %}
Scan QR
{% endblock %}

{% block body %}
<div class="container position-absolute top-50 start-50 translate-middle h-75">
    <p class="headertext text-center">Scan QR Code</p>
    <form method="POST" action="/events/ci">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
        <div class="form-group">
            <label for="event_url" class="form-label visually-hidden">Event URL</label>
            <input type="text" class="form-control" id="event_url" name="event_url"
                placeholder="https://roboregistry.vercel.app/events/ci/your-event-1234" required>
        </div>
        <div id="reader"></div>
        <br />
        <div class="text-center">
            <a href="/dashboard" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-success">Go</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='libs/html5-qrcode.min.js') }}"></script>
<script src="{{ url_for('static', filename='qr_man.js') }}"></script>
{% endblock %}