{% extends "nav_layout.html.jinja" %}
{% block title %}
    Transfer '{{ event.name }}'
{% endblock title %}
{% block body %}
    <div class="centercontainer">
        <div class="bordered text-center">
            <p class="headertext">Transfer '{{ event.name }}'</p>
            <p>This action will transfer this event to a different account by their UID.</p>
            <p>
                <i>Not sure what their UID is?</i> This can be found in the user <a href="{{ url_for('settings') }}">settings</a>.
            </p>
            <h5>All data related to this event will be owned by this new account. You will lose access to this event.</h5>
            <form method="post"
                  class="d-flex m-2 justify-content-center align-items-center"
                  action="{{ url_for('events.transfer', event_id=event.uid) }}"
                  id="transfer-form">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div>
                    <label for="last_name" class="form-label" class="text-left">Transfer to UID</label>
                    <input class="form-control"
                        name="uid"
                        placeholder="UID"
                        type="text"
                        required />
                </div>
                <a href="{{ url_for('events.manage', event_id=event.uid) }}"
                   class="btn btn-secondary">Cancel</a>
                <button type="submit" class="btn btn-danger">Transfer</button>
            </form>
            <h6 class="mb-4">
                Please ensure you have the correct UID for transfer. Failure to do so will result in permanent loss of the event. Export data before proceeding if required.
            </h6>
        </div>
    </div>
{% endblock body %}
{% block scripts %}
<script defer nonce="{{ csp_nonce() }}">
    document.getElementById("transfer-form").addEventListener("submit", (e) => {
        if (!confirm("Confirm transfer action?")) e.preventDefault();
    });
</script>
{% endblock scripts %}
