* {
    font-family: "Inter", sans-serif;
    opacity: 1;
}

*:not(.fade) {
    animation: fadeIn 250ms;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    z-index: 100;
}

footer p,
footer a {
    position: relative;
    text-align: center;
    margin: 0;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
}

footer a:not(p > a) {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

/* caution: using this centercontainer implementation may cause minor nuclear disaster when the ui is smaller */
.centercontainer {
    /* flexbox align to the center, stacked on top config */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* align to center of page */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logoimg,
#logoimgr {
    height: 125px;
    width: 262.5px; /* 125 * 2.1 */
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

#logoimgr {
    position: static;
    transform: none;
}

#google {
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: #f0efef;
    background-repeat: no-repeat;
    background-position: 12px 14px;
    text-decoration: none;
}

#google:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#google:active {
    background-color: #999999;
}

#google:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}

#google:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}

.headertext {
    font-weight: 600;
    font-size: 36px;
}

.maxtext {
    font-weight: 900;
    font-size: 42px;
}

.bordered {
    border: 2px solid rgb(228, 228, 228);
    border-radius: 10px;
    padding: 40px;
}

.dashheading {
    padding: 48px;
}

#brand {
    height: 40px;
}

#pfp,
#dpfp {
    height: 40px;
    border-radius: 50%;
    border: rgba(90, 90, 90, 0.5) 2px solid;
    transition: background-color 0.5s;
}

#pfp:hover {
    background-color: rgba(110, 110, 110, 0.1);
}

.square {
    width: 100%;
    height: 20vh;
    border-radius: 10px;
    margin-bottom: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s;
}

.square:not(.skellybones):hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.skellybones {
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    animation: shimmer infinite linear forwards 1.8s;
}

@keyframes shimmer {
    0% {
        opacity: 0.33;
        background-position: -1000px 0;
    }

    50% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.33;
        background-position: 1000px 0;
    }
}

.db-content {
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-size: calc(10px + 2vmin);
    font-weight: 600;
}

.infogrid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infogrid img {
    padding-left: 6px;
    padding-right: 6px;
    height: 33px;
}

.infogrid img:hover {
    cursor: pointer;
}

.location-container {
    flex: 1;
    margin-right: 10px;
}

.map-container {
    flex: 1;
}

@media (max-width: 767px) {
    .card {
        margin-bottom: 10px;
    }
}

.sync {
    min-height: 115px;
}

textarea {
    white-space: pre-wrap;
}

pre {
    white-space: pre-wrap;
}

#darkbar {
    background-color: #1f1f1f;
}

#lightbar {
    background-color: rgb(228, 228, 228);
}

#lighttext {
    color: #6c757d;
}

#darktext {
    color: rgb(110, 110, 110);
}

#lighttext a,
#darktext a {
    color: rgb(91, 116, 230);
}

nav {
    z-index: 10;
}

#loggedinas {
    white-space: nowrap;
    padding: 12px;
}

#regisor {
    padding: 12px;
}

#lightmodebg {
    background: linear-gradient(to bottom right, rgba(223, 223, 223, 0.8), rgba(255, 255, 255, 0));
}

#darkmodebg {
    background: linear-gradient(to bottom right, rgba(44, 44, 44, 0.8), rgba(255, 255, 255, 0));
}

.loaderlight {
    background-image: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
    background-color: #e9e9e9;
}

.loaderdark {
    background-image: linear-gradient(to right, #3f3f3f 0%, #616161 20%, #3f3f3f 40%, #3f3f3f 100%);
    background-color: #333;
}

#visit-reason {
    display: none;
}

#event_description {
    resize: none;
}

#disablewarn {
    display: none;
}

#map {
    height: 350px;
    width: 100%;
    margin-top: 10px;
}

#waitmsg {
    display: none;
}

#registernow {
    display: inline;
}

#storer {
    padding-bottom: 50px;
}

.green {
    color: #28a745;
}

.red {
    color: #dc3545;
}

#togo {
    font-weight: 600;
}

#barlogoimg {
    margin-left: 10px;
}

#infotext {
    transform: translateY(25%);
}

.tabulator {
    color: #000;
    background-color: #000;
    border-radius: 10px;
}

#infobox p {
    margin: 5px;
}
