* {
    font-family: "Inter", sans-serif;
}

footer {
    background-color: rgb(228, 228, 228);
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 35px;
    width: 100%;
}

footer p,
footer a {
    position: relative;
    text-align: center;
    margin: 0px;
    padding: 0px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    color: rgb(110, 110, 110);
}

footer a:not(p > a) {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

footer a {
    color: rgb(91, 116, 230);
}

.centercontainer {
    /* flexbox align to the center, stacked on top config */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* align to center of page */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#logoimg {
    height: 150px;
}

#google {
    transition: background-color 0.3s, box-shadow 0.3s;
    padding: 12px 16px 12px 42px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    color: rgb(0, 0, 0);
    font-size: 14px;
    font-weight: 500;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
    background-color: #f0efef;
    background-repeat: no-repeat;
    background-position: 12px 14px;
    text-decoration: none;
}

#google:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

#google:active {
    background-color: #999999;
}

#google:focus {
    outline: none;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.25), 0 0 0 3px #c8dafc;
}

#google:disabled {
    filter: grayscale(100%);
    background-color: #ebebeb;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    cursor: not-allowed;
}

.headertext {
    font-weight: 600;
    font-size: 36px;
}

.maxtext {
    font-weight: 900;
    font-size: 42px;
}

.bordered {
    border: 2px solid rgb(228, 228, 228);
    border-radius: 10px;
    padding: 40px;
}

.dashheading {
    background: linear-gradient(to bottom right, rgba(223, 223, 223, 0.8), rgba(255, 255, 255, 0));
    padding: 48px;
}

#brand {
    height: 40px;
}
